Kiet.dtd

<!ELEMENT KIET (DEPARTMENT)>
<!ELEMENT DEPARTMENT (CSE+,MCA+)>
<!ELEMENT MCA (FACULTY+)>
<!ELEMENT FACULTY (NAME,SUBJECT,SEMESTER,SESSION)>
<!ELEMENT NAME (FIRST_NAME,LAST_NAME)>
<!ELEMENT FIRST_NAME (#PCDATA)>
<!ELEMENT LAST_NAME (#PCDATA)>
<!ELEMENT SUBJECT (#PCDATA)>
<!ELEMENT SEMESTER (#PCDATA)>
<!ELEMENT SESSION (#PCDATA)>
<!ATTLIST FACULTY DESIGNATION CDATA #REQUIRED>
